snippet select
	select{ on(${1}):{
					${2}	
			}
	}

snippet on
	on(${1}):{
			${2}
	}

snippet while
	while(true){
			${1}
	}

snippet body
	body{
		${1}
	}

snippet entity
		entity ${1:Entity_name} {
				${2}
		}

snippet entity1
		entity ${1:Entity_name} (${2}){
				${3}
		}

